<a href="https://colab.research.google.com/github/alseo0110/Mosquito-Forecast-System-Analysis/blob/main/data_cleansing3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df = pd.read_csv('/content/습도.csv', encoding='EUC-KR')

# df.head()

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 757 entries, 0 to 756
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   		지점번호     757 non-null    int64
 1   지점명        757 non-null    object
 2   일시         757 non-null    object
 3   평균습도(%rh)  757 non-null    float64
 4   최저습도(%rh)  757 non-null    int64
dtypes: float64(1), int64(2), object(2)
memory usage: 29.7+ KB

In [ ]:
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [		지점번호, 지점명, 일시, 평균습도(%rh), 최저습도(%rh)]
Index: []

In [ ]:
df.isna().sum()

\t\t지점번호     0
지점명          0
일시           0
평균습도(%rh)    0
최저습도(%rh)    0
dtype: int64

In [ ]:
df = df.drop(columns=['\t\t지점번호', '지점명'])

In [ ]:
df.to_csv('/content/습도_수정.csv', index = False, encoding="EUC-KR")